<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lamudi Semi Task Manager</title>
    <!-- Materialize CSSS -->
    <link href="{{ asset('assets/css/materialize.min.css') }}" rel="stylesheet">
    {{ block('styles') }}
</head>
<body>
    {{ block('body') }}
    <!-- jQuery -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <!-- Materialize JS -->
    <script src="{{ asset('assets/js/materialize.min.js') }}"></script>
    {{ block('scripts') }}
</body>
</html>