{% extends "LamudiTaskManagerBundle::base.html.twig" %}

{% block styles %}
<style>
    .container {
        padding-top: 40px;
    }
    h5 {
        text-align: center;
        color: white;
    }
    p {
        margin: 0;
        font-size: 15px;
        color: white;
    }
    span {
        font-size: 12px;
        color: #424242;
    }
    .tasks {
        min-height: 250px !important;
        max-height: 250px !important;
        overflow-y: auto;
    }
    .mblue {
    background-color: #03A9F4;
    }
    .mred {
        background-color: #F44336;
    }
    .myellow {
        background-color: #FFEB3B;
    }
    .mgreen {
        background-color: #4CAF50;
    }
    .btn-block {
        width: 100%;
    }
    .toast {
        background-color: #F44336;
        color: white;
    }
</style>
{% endblock styles %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s3 tasks mblue">
        <h5>On-Going</h5>
        <div class="ongoing"></div>
        </div>
        <div class="col s3 tasks mred">
        <h5>Blocked</h5>
        <div class="blocked"></div>
        </div>
        <div class="col s3 tasks myellow">
        <h5>Done</h5>
        <div class="done"></div>
        </div>
        <div class="col s3 tasks mgreen">
        <h5>Ready for Release</h5>
        <div class="release"></div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 12"></div>
        <div class="col s12 m4 18">
        <form name="task_form" class="task_form" action="" method="POST">
            <select name="select_user" class="select_user">
            <option value="0" selected disabled>Choose user</option>
            {% for user in users %}
                <option value="{{ user.id }}" id="{{ user.usertype.id }}">{{ user.userName }}</option>
            {% endfor %}
            </select>

            <select name="select_category" class="select_category" id="select_category">
                <option value="0" selected disabled>Choose category</option>
            </select>

            <textarea name="task_description" class="materialize-textarea task_description" placeholder="Description"></textarea>
        
            <p>
                <input class="status" name="status" type="radio" id="ongoing" value="1"/>
                <label for="ongoing">On-Going</label>
            </p>
            <p>
                <input class="status" name="status" type="radio" id="blocked" value="2"/>
                <label for="blocked">Blocked</label>
            </p>
            <p>
                <input class="status" name="status" type="radio" id="done" value="3"/>
                <label for="done">Done</label>
            </p>
            <p>
                <input class="status" name="status" type="radio" id="release" value="4" />
                <label for="release">Ready for Release</label>
            </p>
            <button type="button" class="create_task waves-effect waves-light btn btn-block">CREATE TASK</button>
        </form>
        </div>
        <div class="col s12 m4 12"></div>
    </div>
</div>
{% endblock body %}

{% block scripts %}
<script>
    $(document).ready(function(){

        // global vars
        var user = 0;
        var userType = 0;

        // initialize materialize select element
        $('select').material_select();

        // change event to trigger ajax request
        $('select.select_user').change(function(){
            // assign values
            user = $(this).val();
            userType = $(this).children(':selected').attr('id');
            // reset category
            $("#select_category")
                .empty()
                .html('<option value="0" selected disabled>Choose category</option>');
            // trigger update
            $("#select_category").trigger('contentChanged');
            // call tasks
            getTasks(user, userType);
        });

        function getTasks(user, userType)
        {
            $.ajax({
                type: "POST",
                url: "{{ path('api_show_tasks') }}",
                data: {
                "event": "show_tasks",
                "value": user,
                },
                dataType: 'json'
            })
            .done(function(data){
                $('.ongoing').html("");
                $('.blocked').html("");
                $('.done').html("");
                $('.release').html("");
                var tasks = JSON.parse(data);
                $.each(tasks, function(d, data){
                if(data.id == 1) {
                    $('.ongoing').append(
                    '<p>'+ data.category_name +'</p><span class="text-muted">'+ data.description +'</span>'
                    )
                } else if(data.id == 2) {
                    $('.blocked').append(
                    '<p>'+ data.category_name +'</p><span class="text-muted">'+ data.description +'</span>'
                    )
                } else if(data.id == 3) {
                    $('.done').append(
                    '<p>'+ data.category_name +'</p><span class="text-muted">'+ data.description +'</span>'
                    )
                } else if(data.id == 4) {
                    $('.release').append(
                    '<p>'+ data.category_name +'</p><span class="text-muted">'+ data.description +'</span>'
                    )
                }
                });
                // call ajax request for categories
                categoryAjaxRequest(userType);
            })
            .fail(function(data){Materialize.toast('Error', 4000);});
        }

        // ajax request for tasks' categories
        function categoryAjaxRequest(userType)
        {
            $.ajax({
                type: "POST",
                url: "{{ path('api_show_categories') }}",
                data: {
                "event":"show_categories",
                "value":userType
                },
                dataType: "json"
            })
            .done(function(data){
                var selectCategory = $("#select_category")
                    .empty()
                    .html('<option value="0" selected disabled>Choose category</option>');

                var categories = JSON.parse(data);
                $.each(categories, function(d, data){
                    selectCategory.append('<option value="'+ data.id +'">'+ data.category_name +'</option>');
                });
                
                selectCategory.trigger('contentChanged');
            })
            .fail(function(data){Materialize.toast('Error', 4000);});
        }

        // creating task
        $('.create_task').on('click', function(e){
            e.preventDefault();
            
            $.ajax({
                type: "POST",
                url: "{{ path('api_create_task') }}",
                data: {
                event: "create_task",
                value: $('.task_form').serialize()
                },
                dataType: "json"
            })
            .done(function(data){
                $('.select_category').val("");
                $('.select_category').trigger('contentChanged');
                $(".task_description").val("");
                $(".status:checked").prop("checked", false);
                getTasks(user, userType);
            })
            .fail(function(data){Materialize.toast('Error', 4000);});
        });

        $('select').on('contentChanged', function() {
            // re-initialize 
            $(this).material_select();
        });
    });
</script>
{% endblock scripts %}